*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --background1: #1f2937; /*Hero and footer*/
  --main-text-color: #f9faf8; /*Hero main text and Header logo text*/
  --secondary-text-color: #e5e7eb; /*Quote section and hero secondary colors*/
  --button-color: #3882f6;
  --information-text-color: #1f2937; /*quote text and info text*/
  --quote-color: #e5e7eb;
}
html {
  font-family: "roboto, sans-serif";
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.head-link {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.adjust {
  width: 125px;
  max-width: 100%;
  height: auto;
  border: 1px solid var(--main-text-color);
  padding: 5px;
  margin-left: 3vw;
}
.header {
  background-color: var(--background1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 32px;
}
.nav-links {
  display: flex;
  gap: 32px;
  margin-right: 5vw;
  flex-wrap: wrap;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fake-img {
  width: 350px;
  height: 200px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img {
  max-width: 50vw;
}
.hero-text {
  color: var(--secondary-text-color);
  font-size: 18px;
  max-width: 600px;
}
.title {
  color: var(--main-text-color);
  font-size: 48px;
  font-weight: 900;
  line-height: 44px;
}
.hero-container {
  background-color: var(--background1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px;
}
.wrapper-1 {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  gap: 16px;
}
.quote-title {
  font-size: 36px;
  font-weight: 900;
  color: var(--information-text-color);
}
.button {
  max-width: 100px;
  background-color: var(--button-color);
  border-radius: 5px;
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--button-color);
}
.placeholder-img {
  border: 3px solid var(--button-color);
  border-radius: 5px;
  width: 100px;
  height: 100px;
}
.card-text {
  font-size: 16px;
  max-width: 200px;
}
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
}
.info-wrapper {
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.quote-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--quote-color);
  padding: 125px;
}
#quote-text {
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  color: var(--information-text-color);
  max-width: 900px;
  margin-left: 300px;
}
.quote-author {
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  margin-top: 150px;
}
.action-wrapper {
  padding: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action {
  background-color: var(--button-color);
  width: 1000px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
.action-title,
.action-text {
  color: var(--main-text-color);
}
.action-title {
  font-size: 20px;
  font-weight: bold;
}
.action-text {
  font-size: 14px;
}
.button-two {
  background-color: var(--button-color);
  height: 30px;
  border-radius: 5px;
  width: 90px;
  font-size: 16px;
  color: var(--main-text-color);
  border: 2px solid var(--main-text-color);
}
